<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <exitintentpopup>
            <general>
                <enable>1</enable>
                <mobile_delay>5000</mobile_delay>
                <popup_frequency>always</popup_frequency>
                <background_color>#ffffff</background_color>
                <font_color>#303030</font_color>
                <button_color>#1979c3</button_color>
                <button_text_color>#ffffff</button_text_color>
            </general>
            <promotion>
                <coupon_rule_id>7</coupon_rule_id>
                <copy_button_text>Copy Code</copy_button_text>
                <apply_button_text>Apply Code</apply_button_text>
            </promotion>
            <content>
                <popup_heading>Wait! Don't Leave Yet?</popup_heading>
                <popup_description>Complete your order now and get an exclusive discount on this purchase.</popup_description>
                <discount_label>Your Exclusive Discount Code</discount_label>
                <close_button_text>No Thanks</close_button_text>
            </content>
            <login_prompt>
                <frequency>once_per_session</frequency>
                <heading>Unlock Your Exclusive Discount</heading>
                <message>Login to unlock your exclusive discount on this purchase.</message>
                <login_button_text>Login</login_button_text>
                <register_link_text>New customer? Create an account</register_link_text>
            </login_prompt>
        </exitintentpopup>
    </default>
</config>
