<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Quote\Api\CouponManagementInterface">
        <plugin name="ict_exitintent_block_reused_guest_coupon"
                type="Ict\ExitIntentDiscountPopup\Plugin\BlockReusedGuestCoupon"
                sortOrder="10"/>
    </type>
</config>
