<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- Return the guest to checkout after login/registration from the exit-intent login prompt. -->
    <event name="controller_action_predispatch_customer_account_login">
        <observer name="ict_exitintent_set_login_referrer_url"
                  instance="Ict\ExitIntentDiscountPopup\Observer\SetLoginReferrerUrl"/>
    </event>
    <event name="controller_action_predispatch_customer_account_create">
        <observer name="ict_exitintent_set_login_referrer_url"
                  instance="Ict\ExitIntentDiscountPopup\Observer\SetLoginReferrerUrl"/>
    </event>

    <!-- Only commit the stashed referer once authentication has actually succeeded. -->
    <event name="customer_login">
        <observer name="ict_exitintent_apply_login_referrer_url"
                  instance="Ict\ExitIntentDiscountPopup\Observer\ApplyLoginReferrerUrl"/>
    </event>
</config>
