<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="ict_extensions" translate="label" sortOrder="400">
            <label>Ict Extensions</label>
        </tab>

        <section id="exitintentpopup" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Exit Intent Discount Popup</label>
            <tab>ict_extensions</tab>
            <resource>Ict_ExitIntentDiscountPopup::config</resource>

            <!-- Group 1: Global Configuration -->
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Global Configuration</label>

                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="mobile_delay" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Mobile Delay (ms)</label>
                    <validate>validate-number</validate>
                </field>

                <field id="popup_frequency" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Popup Frequency</label>
                    <source_model>Ict\ExitIntentDiscountPopup\Model\Source\PopupFrequency</source_model>
                </field>

                <field id="background_color" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Background Color</label>
                    <frontend_model>Ict\ExitIntentDiscountPopup\Block\Adminhtml\System\Config\Form\Field\ColorPicker</frontend_model>
                </field>

                <field id="font_color" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Font Color</label>
                    <frontend_model>Ict\ExitIntentDiscountPopup\Block\Adminhtml\System\Config\Form\Field\ColorPicker</frontend_model>
                </field>

                <field id="button_color" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Button Color</label>
                    <frontend_model>Ict\ExitIntentDiscountPopup\Block\Adminhtml\System\Config\Form\Field\ColorPicker</frontend_model>
                </field>

                <field id="button_text_color" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Button Text Color</label>
                    <frontend_model>Ict\ExitIntentDiscountPopup\Block\Adminhtml\System\Config\Form\Field\ColorPicker</frontend_model>
                </field>
            </group>

            <!-- Group 2: Promotion Configuration -->
            <group id="promotion" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Promotion Configuration</label>

                <field id="coupon_rule_id" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Coupon Rule</label>
                    <source_model>Ict\ExitIntentDiscountPopup\Model\Source\CouponOptions</source_model>
                </field>

                <field id="copy_button_text" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Copy Button Text</label>
                </field>

                <field id="apply_button_text" translate="label comment" type="text" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Apply Button Text</label>
                    <comment>Default: Apply Code</comment>
                </field>

            </group>

            <!-- Group 3: Popup Content -->
            <group id="content" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Popup Content</label>

                <field id="popup_heading" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Popup Heading</label>
                </field>

                <field id="popup_description" translate="label comment" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Popup Description</label>
                </field>

                <field id="discount_label" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Discount Label</label>
                </field>

                <field id="close_button_text" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Close Button Text</label>
                    <comment>Default: No Thanks</comment>
                </field>
            </group>

            <!-- Group 4: Login Prompt Content -->
            <group id="login_prompt" translate="label" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Login Prompt Content</label>
                <comment>Shown to guests instead of the discount popup, until they log in.</comment>

                <field id="frequency" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Login Prompt Frequency</label>
                    <source_model>Ict\ExitIntentDiscountPopup\Model\Source\PopupFrequency</source_model>
                </field>

                <field id="heading" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Login Prompt Heading</label>
                </field>

                <field id="message" translate="label comment" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Login Prompt Message</label>
                </field>

                <field id="login_button_text" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Login Button Text</label>
                    <comment>Default: Login</comment>
                </field>

                <field id="register_link_text" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Register Link Text</label>
                    <comment>Default: New customer? Create an account</comment>
                </field>
            </group>
        </section>
    </system>
</config>
